@page "/"
@rendermode InteractiveServer
@layout FoodieMenu.Web.Components.Layout.EmptyLayout
@inject NavigationManager NavManager

<h1>Welcome to FoodieMenu</h1>

<MudButton Variant="Variant.Filled" OnClick="() => NavigateToApp(RestaurantAppURL)">App for restaurant</MudButton>
<MudButton Variant="Variant.Filled" OnClick="() => NavigateToApp(ClientAppURL)">App for customers</MudButton>