@page "/tt"

@using System.Collections.Generic

<h3>Category Generator</h3>

<button class="btn btn-primary" @onclick="AddNewForm">Add New Form</button>

@foreach (var form in Forms)
{
    <div class="form-group">
        <label>Category Name:</label>
        <input type="text" class="form-control" @bind="form.CategoryName" />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" @bind="form.Description" />
    </div>
    <hr />
}

